# Dependencies
node_modules/
server/node_modules/

# Environment variables
.env
server/.env

# Controllers Ignore
server/Controllers/rpkiController.js
server/Controllers/sDController.js
server/Controllers/sskiController.js

# Old DNSBL Ignore
server/DNSBL/dnsblList.js


# UserList
server/users.js

# Logs
server/logs