#==========Backend Ignores==========#

# Dependencies
node_modules/
server/node_modules/

# Environment variables
.env
server/.env

# Controllers Ignore
server/Controllers/rpkiController.js
server/Controllers/sDController.js
server/Controllers/sskiController.js

# Old DNSBL Ignore
server/DNSBLS/dnsblList.js

# Routes Ignore
server/Routes/rpkiRoutes
server/Routes/swipRoutes

# UserList
server/users.js

# Logs
server/logs

#==========Frontend Ignores==========#

# Scripts Ignore
/public/assets/scripts/report/
/public/assets/scripts/rpki/
/public/assets/scripts/swip/

# Styling Ignore
/public/assets/styles/report.css
/public/assets/styles/rpki.css
/public/assets/styles/swip.css